
section {
    float: left;
    font-family: 'SUITE-Regular';
    margin: 50px 10px;
    padding: 50px;
    text-align: center;
    width: 1260px;
    height: 2000px;
}

section h1 {
    font-family: 'Cafe24Ssurround';
    font-weight: bold;
    font-size: 60px;
    padding-top: 10px;
    text-align: left;
}

.question-menu {
    float: left;
    width: 1200px;
    height: 90px;
} 

.question-menu li {
    display: inline-block; 
    width: 100px;
    height: 50px;
    padding-top: 30px;
    margin-right: 20px;
} 

.question-menu li > input[type=button] {
    width: 100px;
    height: 40px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    background-color: white;
}


.question-menu li > input[type=button]:hover {
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
}

.question-content-all {
    float: left;
    text-align: center;
    width: 1200px;
    height: auto;
    background-color: antiquewhite;
    padding: 10px;

}

.question-category {
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: 30px;
}

.question-ask {
    width: 95%;
    height: 35px;
    margin: 10px 5px;
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;

}

.question-ask span {
    font-size: 20px;
    font-weight: bold;

}

.question-ask button {
    float: right;
    padding-right: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 4px;
}

.question-answer {
    width: 95%;
    height: auto;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #fab62d62;
}

.question-answer span {
    font-size: medium;
}

.hidden-ex {
    display: none;
}

