section {
	font-family: 'SUITE-Regular';
	width: 1260px;
	height: auto;
	background-color: rgb(255, 250, 203, 0.3);
	float: left;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}

h3 {
	text-align: center;
}

h2 {
	font-size: large;
}

#dpan {
	float: right;
	padding-right: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100px;
}

.search-box {
	z-index: 100;
}

.search-box label {
	font-size: large;
	font-weight: 700;
	margin: 5px;
	padding: 5px;
}

.search-box input[name=search-save] {
	width: 50px;
	border: 3px solid rgb(180, 180, 180);
	border-radius: 3px;
	background-color: white;
	font-weight: bold;
	z-index: -1;
}

.search-box input[name=search-save]:hover {
	box-shadow: 1px 0px 1px black, 0px 1px 1px black;
	text-shadow: 1px 0px 1px black;
}

.info_form {
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
}

.title {
	font-family: 'Cafe24Ssurround';
	border: 2px soild;
	font-size: 30px;
	margin-top: 10px;
}

.info_form .del_btn {
	float: left;
	width: 1000px;
	height: 35px;
	margin-left: 130px;
	text-align: start;
}

.del_btn input[type="button"] {
	width: 100px;
	height: 30px;
	font-weight: bold;
	border: 3px solid rgb(180, 180, 180);
	border-radius: 5px;
	margin-top: 3px;
	background-color: white;
}

table {
	border-collapse: collapse;
	width: 1000px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid rgb(180, 180, 180);
	border-radius: 5px;
}

thead {
	text-align: center;
	font-weight: bold;
	height: 50px;
	background-color: #555555;
	color: white;
}

tbody {
	height: 50px;
	font-size: 16px;
}

thead th {
	border: 5px solid rgb(180, 180, 180);
}

thead tr {
	padding: 15px 0px;
	border-bottom: 5px solid rgb(180, 180, 180);
	vertical-align: middle;
	margin-bottom: 5px;
}

.btn-td {
	margin: 5px;
}

.btn-td input[type=button] {
	width: 50px;
	height: 35px;
	border: 3px solid rgb(180, 180, 180);
	border-radius: 5px;
	font-weight: bold;
	background-color: white;
	padding: 5px;
}

input [name="rebtn"] {
	width: 100px;
}

#mbtn {
	width: 60px;
}

.iconimg:hover {
	box-shadow: 4px 4px 4px black;
	transition-duration: 0.3s;
}