
section {
    float: left;
    font-family: 'SUITE-Regular';
    margin: 50px 10px;
    padding: 50px;
    text-align: center;
    width: 1260px;
    height: 800px;
}

section h1 {
    font-weight: bold;
    font-size: 65px;
    padding-top: 20px;
    text-shadow: 2px 2px 1px black;
}

.info-box {
    float: left;
    margin: 10px 30px;
    width: 95%;
    height: 600px;
    text-align: center;
}

.info-box a {
    color: black;
}

.info-box a:hover {
    text-shadow: 2px 1px 2px black;
}


.info-banner {
    float: left;
    width: 45%;
    height: 150px;
    background-color: white;
    text-align: center;
    border: 10px double rgb(200, 200, 200);
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 50px;
}

.info-banner span {
    font-family: 'Cafe24Ssurround';
    display: block;
    height: 100%;
    font-size: 50px;
    padding-top: 25px;
}

.info-banner .text-ex {
    font-size: 16px;

}

.info-text {
    float: left;
    margin: 100px 30px;
    width: 60%;
    height: 300px;
    text-align: center;
    background-color: #fdedd5;
    text-align: left;
    padding: 30px;
}

.info-text span {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(20, 10, 0);
}
