@charset "UTF-8";

#foodList{
    float: left;
    border: 2px solid black;      /*틀 선 굵기와 종류 색상*/
	width: 1260px; /*가로 넓이*/
	height: 1800px; /*세로 높이*/
	text-align: center; /*중앙 정렬*/
	background-color: rgb(228, 230, 228);
    padding-left: 200px;
}

aside {
	float: left;
    border: 2px solid black;      /*틀 선 굵기와 종류 색상*/
	width: 1260px; /*가로 넓이*/
	height: 154px; /*세로 높이*/
	text-align: center; /*중앙 정렬*/
	/* background-color: rgb(101, 206, 145) */
}

.table{
	margin-left: 0px;
}

.title {
    width: 100%;
    height: 35px;
    background-color: #eccd54;
    font-family: 'Cafe24Ssurround';
    font-size: 22px;
    padding-top: 2px;
}


.list{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    border-radius: 30px;
	width: 350px; /*가로 넓이*/
	height: 600px; /*세로 높이*/
	text-align: center; /*중앙 정렬*/
    margin-top: 50px;
    margin-left: 50px;
	/* background-color: rgb(101, 206, 145) */
}
.list h4{
    float: right;
    margin-right: 20px;
}


.img{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    border-radius: 20px;
	width: 700px; /*가로 넓이*/
	height: 1300px; /*세로 높이*/
	text-align: center; /*중앙 정렬*/
    margin-left: 80px;
    margin-top: 50px;
    padding-top: 30px;
	background-color: rgb(255, 255, 255)
}

.menulist {
	float: left;
	width: 25%; /*가로 넓이*/
	height: 250px; /*세로 높이*/
	text-align: center; /*중앙 정렬*/
	margin-top: 50px;
    margin-bottom: 50px;
}

.menulist img {
    width: 240px;
    height: 200px;
    margin: 5px 0;
}

.menulist span {
	font-size: 25px;
    font-weight: bold;

}

.menulist a {
    text-decoration: none;
    font-family: 'SUITE-Regular';
    color: black;
    text-shadow: 0px 1px 1px black;
}

.menulist a:hover {
    text-shadow: 0px 2px 3px black;
    font-size: 27px;
}


#kkk{
    border-radius: 10px;
    width: 200px; /*가로 넓이*/
	height: 40px; /*세로 높이*/
    color: white;
    background-color: #f06d4c;
}

.lien{
    border-radius: 20px;
}