<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="www.egg.dao.IF_MypageDAO">


	<select id="selectone" resultType="www.egg.vo.MemberVO">		<!-- 회원정보 불러오기(수정용) -->
		select
		id,name,phone,email,address from member where id=#{id}
	</select>

	<update id="update" parameterType="www.egg.vo.MemberVO">		<!-- 수정된 회원정보 업데이트 -->
		update member set
		name=#{name},
		phone=#{phone},email=#{email},address=#{address}
		where
		id=#{id}
	</update>




	<insert id="rinsert" parameterType="www.egg.vo.ReviewVO"
		useGeneratedKeys="true" keyProperty="re_num"> <!-- 리뷰내용 저장 -->
		INSERT INTO review (re_id, re_no, re_ex, re_star)
		VALUES (#{re_id},
		#{re_no}, #{re_ex}, #{re_star})
	</insert>

	<insert id="savefile" parameterType="map">		<!-- 리뷰 첨부파일 저장 -->
		INSERT INTO photo (no, filename) VALUES (#{re_num}, #{filename})
	</insert>

	<select id="myreview" parameterType="string"
		resultType="www.egg.vo.ReviewVO"> <!-- 나의 리뷰내역 보기 -->
		SELECT re_num, re_no, re_id, re_ex, re_star
		FROM review
		WHERE re_id =
		#{userid} order by re_num desc
	</select>
	
	<select id="reviewmaster" parameterType="String" resultType="www.egg.vo.ReviewVO">
		SELECT re_num, re_no, re_id, re_ex, re_star
		FROM review order by re_num desc
	</select>

	<select id="getphoto" parameterType="Integer" resultType="map">		<!-- 리뷰에 맞는 사진 불러오기 -->
		SELECT
		no AS re_num, filename
		FROM photo
		WHERE no = #{re_num}
	</select>




	<insert id="pickinsert" parameterType="www.egg.vo.ReviewVO">	 <!-- 찜한 메뉴의 정보를 테이블에 저장 -->
		insert into favor (f_no, f_id, f_menu, f_price) values (#{f_no},
		#{f_id}, #{f_menu},#{f_price})
	</insert>

	<select id="picklist" resultType="www.egg.vo.FavorVO" parameterType="map">				<!-- 찜 리스트 불러오기 -->
		select * from favor where f_id=#{userid} order by f_num DESC LIMIT
		#{startNo}, #{perPageNum}
	</select>

	<delete id="pickdelete" parameterType="String">
		delete from favor where
		f_no=#{f_no}
	</delete>

	<select id="orderall" resultType="www.egg.vo.MlistVO"
		parameterType="String">
		select * from mlist where m_id=#{userid} order by m_num
		DESC
	</select>



	<select id="orderlist" resultType="www.egg.vo.MlistVO"
		parameterType="map">		<!-- 주문내역 불러오기 -->
		select * from mlist where m_id=#{userid} order by m_num DESC LIMIT
		#{startNo},#{perPageNum}
	</select>

	<select id="getTotalCount" parameterType="string"
		resultType="int">
		SELECT COUNT(*) FROM mlist WHERE m_id = #{userid}
	</select>

	<select id="getTotalCountPick" parameterType="string"
		resultType="int">
		SELECT COUNT(*) FROM favor WHERE f_id = #{userid}
	</select>




	<!-- DROP SEQUENCE IF EXISTS review_seq; 원래 있던 시퀀스 삭제 (시퀀스는 값을 직접 넣어줘야함) 
		ALTER TABLE review MODIFY re_num INT AUTO_INCREMENT PRIMARY KEY; 자동으로 값이 
		증가하는걸 사용 이거 사용하면 매퍼에 굳이 작성할 필요 X -->





</mapper>