<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="www.egg.dao.IF_MypageDAO">
	
	<select id="selectone" resultType="www.egg.vo.MemberVO">
		select id,name,phone,email,address from member where id=#{id}
	</select>
	
	<update id="update" parameterType="www.egg.vo.MemberVO">
		update member set name=#{name}, phone=#{phone},email=#{email},address=#{address} 
		where id=#{id}
	</update>
	
	<insert id="rinsert" parameterType="www.egg.vo.ReviewVO">  <!-- 리뷰 등록 -->
    	INSERT INTO review (re_num, re_no, re_id, re_ex, re_star, re_file1, re_file2)
    	VALUES (NEXT VALUE FOR review_cnt, #{m_num}, #{id}, #{ex}, #{star}, #{file1}, #{file2})
	</insert>

	
	
	<select id="rnum" resultType="www.egg.vo.MlistVO">
		
	</select>
</mapper>