<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="www.egg.dao.IF_MypageDAO">

	<select id="selectone" resultType="www.egg.vo.MemberVO">
		select
		id,name,phone,email,address from member where id=#{id}
	</select>

	<update id="update" parameterType="www.egg.vo.MemberVO">
		update member set
		name=#{name}, phone=#{phone},email=#{email},address=#{address}
		where
		id=#{id}
	</update>

	<insert id="rinsert" parameterType="www.egg.vo.ReviewVO"  useGeneratedKeys="true"> <!-- 리뷰 등록 -->
		INSERT INTO review VALUES (#{re_num},#{re_no}, #{re_id}, #{re_ex}, #{re_star}, #{re_file})
	</insert>

	<select id="myreview" resultType="www.egg.vo.ReviewVO">
		SELECT re_no, re_id, re_ex,
		re_star, re_file1, re_file2
		FROM review
		WHERE re_id=#{id}
	</select>









	<!-- DROP SEQUENCE IF EXISTS review_seq; 원래 있던 시퀀스 삭제 (시퀀스는 값을 직접 넣어줘야함) 
		ALTER TABLE review MODIFY re_num INT AUTO_INCREMENT PRIMARY KEY; 자동으로 값이 
		증가하는걸 사용 이거 사용하면 매퍼에 굳이 작성할 필요 X -->





</mapper>